.banner {
  background-image: url("../images/Rectangle.png");
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    justify-content: center;
  }
  .banner__content {
    h6 {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 20px;
    }
    h1 {
      margin-bottom: 50px;
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 134.09%; /* 64.363px */
    }
  }
}
