.high {
  background: #f6f6f8;
  padding-top: 100px;
  padding-bottom: 55px;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 90px;
  }
  &__card {
    width: 50%;
    h2 {
      margin-top: 50px;
      color: var(--dark, #323232);
      font-family: Montserrat;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 146.28%; /* 52.661px */
      margin-bottom: 40px;
    }
    p {
      color: var(--grey, #999);
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 158.47%; /* 25.355px */
      margin-bottom: 30px;
      max-width: 79%;
    }
    a {
      color: var(--accent, #4985ff);
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
    }
    img {
      width: 500px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__column {
    .flex {
      display: flex;
      align-items: center;
      column-gap: 20px;
      h3 {
        color: #000;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 146.28%; /* 52.661px */
      }
    }
    p {
      color: var(--grey, #999);

      /* p>h2 */
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 158.47%; /* 25.355px */
    }
  }
}
